.dialog {
  .icon {
    background-color: rgb(252, 168, 168);
  }
  .no {
    background-color: rgba(180, 180, 180, 0.87);
    &:hover {
      opacity: 0.6;
    }
  }

  .yes {
    background-color: rgb(255, 44, 44);
    color: white;

    &:hover {
      color: rgb(255, 44, 44);
      background-color: white;
    }
  }
}
